*.class

# Package Files #
*.jar
*.war
*.ear
/doc
/bin
/verslag/Verslag.aux
/verslag/Verslag.out
/verslag/Verslag.log
/verslag/.Verslag.tex.swp
/verslag/Verslag.pdf
/verslag/Verslag.synctex.gz
/verslag/Verslag.toc
/.DS_Store
/nbproject/private/